<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head') %>
</head>
<body>
<%- include('../fragmente/header') %>
<main>
    <section>
        <h2><%- titlu %></h2>
        <p><%- text %></p>
        <img src="<%- imagine %>" alt="Eroare">
    </section>
</main>
<%- include('../fragmente/footer') %>
</body>
</html>
